In [55]:
from sklearn import datasets
from sklearn.svm import SVC
digits = datasets.load_digits()

In [61]:
from sklearn.svm import SVC 
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

In [62]:
om = {
    'svm':{
        'model': SVC(gamma = 'auto'),
        'params':{
            'C':[1,10,20],
            'kernel':['rbf','linear']
        }
    },
     'rf':{
        'model': RandomForestClassifier(),
        'params':{
            'n_estimators': [1,5,10]
        }
    },
     'lr':{
         'model':LogisticRegression(solver = 'liblinear',multi_class = 'auto'),
         'params':{
             'C':[1,5,10]
         }
     },
    'gnb':{
        'model': GaussianNB(),
        'params':{
            
        }
    },
    'mnb':{
        'model': MultinomialNB(),
        'params':{
            
        }
    },
    'dt':{
        'model':DecisionTreeClassifier(),
        'params':{
            
        }
    }
}

In [66]:
score = []
for model_name,m_p in om.items():
    clf = GridSearchCV(m_p['model'],m_p['params'],cv = 5,return_train_score  =False)
    clf.fit(digits.data,digits.target)
    score.append({
        'model':model_name,
        'best_score':clf.best_score_,
        'best_param':clf.best_params_
    })

In [67]:
df = pd.DataFrame(score,columns=['model','best_score','best_param'])
df

  model  best_score                    best_param
0   svm    0.947697  {'C': 1, 'kernel': 'linear'}
1    rf    0.897639          {'n_estimators': 10}
2    lr    0.922114                      {'C': 1}
3   gnb    0.806928                            {}
4   mnb    0.870350                            {}
5    dt    0.784686                            {}

In [76]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
df = pd.DataFrame(iris.data,columns =iris.feature_names)
df['flower'] = iris.target
df['flower'] = df.flower.apply(lambda x: iris.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [69]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(iris.data,iris.target,test_size=0.3)

In [70]:
from sklearn.model_selection import cross_val_score
cross_val_score(SVC(kernel = "linear",C = 10,gamma = 'auto'),iris.data,iris.target,cv =5)

array([1.        , 1.        , 0.9       , 0.96666667, 1.        ])

In [71]:
from sklearn.model_selection import GridSearchCV
clf = GridSearchCV(SVC(gamma = 'auto'),{'C':[1,10,20],'kernel':['rbf','linear']},cv = 5,return_train_score = False)
clf.fit(iris.data,iris.target)
clf.cv_results_

{'mean_fit_time': array([0.0016077 , 0.00077362, 0.00369692, 0.00020013, 0.        ,
        0.        ]),
 'std_fit_time': array([0.00048269, 0.00066129, 0.00381183, 0.00040026, 0.        ,
        0.        ]),
 'mean_score_time': array([0.00101547, 0.00020089, 0.00021033, 0.00019951, 0.00330701,
        0.        ]),
 'std_score_time': array([0.00044264, 0.00040178, 0.00042067, 0.00039902, 0.0040503 ,
        0.        ]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 1.        , 0.96666667,
        1.        ]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.9       , 0.9       ,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.98      , 0.97333333, 0.96666667,
        0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993, 0.03887301, 0.03651484,
        0.0421637 ]),
 'rank_test_score': array([1, 1, 1, 4, 5, 6])}

In [72]:
df = pd.DataFrame(clf.cv_results_)
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001608,0.000483,0.001015,0.000443,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.000774,0.000661,0.000201,0.000402,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.003697,0.003812,0.000210,0.000421,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
3,0.000200,0.000400,0.000200,0.000399,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,4
4,0.000000,0.000000,0.003307,0.004050,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,5
5,0.000000,0.000000,0.000000,0.000000,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,6

In [73]:
df[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1       1       linear         0.980000
2      10          rbf         0.980000
3      10       linear         0.973333
4      20          rbf         0.966667
5      20       linear         0.966667

In [74]:
clf.best_score_

0.9800000000000001

In [47]:
clf.best_params_

{'C': 1, 'kernel': 'rbf'}

In [77]:
from sklearn.model_selection import RandomizedSearchCV
rs = RandomizedSearchCV(SVC(gamma = 'auto'),{
    'C':[1,10,20],
    'kernel':['rbf','linear']},
     cv = 5,return_train_score = False,n_iter = 2)
rs.fit(iris.data,iris.target)
pd.DataFrame(rs.cv_results_)[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0      10          rbf         0.980000
1      20          rbf         0.966667